# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NLU\chat-bot-langchain\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
